
/* MAIN CONTENT */
/* 
*{
  border: 1px solid black;
} */

.main {
  background-color: var(--clr-bg-primary);
  width: 100%;
}

.intro,
.pr-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.intro,
.pr-container {
    grid-column: 1 / span 4;
}

.intro {
  margin-top: 17rem;
}

h1 {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
  margin-bottom: 1rem;
}

.p-intro {
  font-size: var(--fs-800);
  font-family: var(--ff-secondary);
  line-height: 140%;
  padding-top: 0.5rem;
}

.arrow {
  margin-top: 2.5rem;
  margin-bottom: 8rem;

}

.project {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  grid-column: 1 / span 4;
  width: 100%;
}

.image-box-first {
  width: 100%;
  height: 280px;
  background-image: url(../projects/spoonful/spoonful-cover.png);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

.img-content {
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
}

/* CAMBIAR HEIGHT AUTO CON LA IMAGEN */

.pr-content {
  padding-top: 1rem;
  width: 100%;
}

.p-title {
  font-size: var(--fs-800);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  padding-left: 0.5rem;
}


.pr-tags-container {
  display: flex;
  margin-top: 0.5rem;
}

.pr-tags {
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  border-radius: 4px;
  border-color: rgb(171, 171, 171);
  margin-right: 0.5rem;
  padding: 0.25rem 0.25rem;
  text-align: center;
}

.first {
  background-color: #EFF7CF;
}
.second {
  background-color: #FDD5C6;
}
.third {
  background-color: #B9DAFC;
}
.fourth {
  background-color: #BCBAFF;
}
.fifth {
  background-color: #CFF7F0;
}


/* .strategy {
  background-color: #eff7cf;
}
.visual {
  background-color: #fdd5c6;
}

.packaging {
  background-color: #b9dafc;
}
.uxui {
  background-color: #bcbaff;
} */


.pr-description {
  font-family: var(--ff-primary);
  font-size: var(--fs-700);
  padding-top: 0.5rem;
  line-height: 140%;
}

.section-about {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 4;
  padding: 4rem 0;
  border-top: 1px solid black;;

}

.p-about-title {
  font-size: var(--fs-800);
  font-family: var(--ff-secondary);
  text-align: center;
}


.p-about {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 140%;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


/* BUTTON */

button {
  border: 0px;
  margin-top: 3rem;
}  

button a {
  text-decoration: none;
}  

.button {
  padding: 1rem 1.25rem;
  border: 1px solid black;
  border-radius: 2rem;
  font-size: var(--fs-400);
  transition: all 300ms;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.button:hover {
  transform: translateY(-1px);
}

/* END BUTTON */


/* DESKTOP MEDIA QUERY */

@media (min-width: 1024px) {

.intro {
  grid-column: 1 / span 6;
  margin-top: 14rem;
}

.pr-container {
  grid-column: 7 / span 6;
  margin-top: 14rem;
}

.image-box-first {
  width: 100%;
  height: 350px;
  background-image: url(../projects/spoonful/spoonful-cover.png);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

.section-about {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 12;
  padding: 4rem 0;
  border-top: 1px solid black;;
}

.p-about-title {
  font-size: var(--fs-800);
  font-family: var(--ff-secondary);
  text-align: center;
}


.p-about {
  font-size: var(--fs-700);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 140%;
  text-align: center;
  padding-top: 0.5rem;
  width: 45%;
  align-self: center;
}

.intro,
.pr-container {
  padding-left: 3rem;
  padding-right: 3rem;
}


}