
/* GRID MAIN */

.grid-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 10rem;

}

.grid-main h1 {
    padding-top: 1rem;
    grid-column: 1 / span 9;
    grid-row: 3;
    align-self: center;
}

.grid-main h2 {
    grid-column: 1 / span 10;
    grid-row: 4;
    align-self: center;
    padding-top: 2rem;
}

.grid-main p {
    grid-column: 1 / span 3;
}

.grid-main #website {
    grid-column: 4 / span 3;
}


/* GRID PROJECT */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.grid-project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 6rem;
}

.challenge {
    grid-column: 1 / span 4;
}

.solution {
    grid-column: 5 / span 4;
}


.subheading {
    font-size: 1.25rem;
    font-weight: 700;
}

.info-case {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    padding-top: 1rem;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.25rem;
  }

#choco-pack-mob {
    display: none;
}


.column {
    display: flex;
}  

.image-half {
    display: block;
    width: 50%;
    height: auto;
    padding: 0.25rem;
  }

@media only screen and (max-width: 960px) {

.grid-main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    margin-top: 10rem;

}

.grid-project {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    margin-top: 6rem;
}

.challenge {
    grid-column: 1 / span 4;
}

.solution {
    grid-column: 5 / span 4;
}


.subheading {
    font-size: 1.25rem;
    font-weight: 700;
}
    
}


@media only screen and (max-width: 600px) {

/* GRID MAIN */

.grid-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    margin-top: 10rem;

}

.grid-main h1 {
    padding-top: 1rem;
    grid-column: 1 / span 4;
    grid-row: 3;
    align-self: center;
}

.grid-main h2 {
    grid-column: 1 / span 4;
    grid-row: 4;
    align-self: center;
    padding-top: 2rem;
}


.grid-main #website {
    grid-column: 1 / span 4;
    grid-row: 5;
    padding-top: 1rem;
}


/* GRID PROJECT */


#choco-pack-mob {
    display: block;
}

#choco-pack-desk {
    display: none;
}

.grid-project {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.challenge {
    grid-column: 1 / span 4;
}

.solution {
    grid-column: 1 / span 4;
}

.subheading {
    font-size: 1.25rem;
    font-weight: 700;
}

.info-case {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    padding-top: 1rem;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.25rem;
  }


.column {
    display: block;
}  

.image-half {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.25rem;
  }


}
