:root {
  --clr-primary-900: hsl(0, 0%, 0%) ;
  --clr-bg-primary: #F7F6EF ;

  --bg-body: var(--clr-primary-200);
  --bg-header: var(--clr-primary-200);
  
  --ff-primary: 'Inter', sans-serif;
  --ff-body: var(--ff-primary) ;
  --ff-heading: var(--ff-primary) ;
  
  --fw-Regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;

}

* {
  Box-sizing: border-box;
  Margin: 0;
  Padding: 0;

  list-style: none;
  }

  a{
    color: #000;
  }

  img, 
  picture,
  svg {
    Max-width: 100%;
    Display: block;
  
}

/* Utility classes */

.text-primary-400 {
	color: var(--clr-primary-400)
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 600px) {

  :root {
    --fs-900: 3rem;
    }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}


@media (min-width: 960px) {

  :root {
    --fs-700: 1.5rem;
    --fs-900: 4rem;
    }
    
  .container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
}