
.video .videoWrapper video {
  object-fit: cover;
  width: 100%;
  min-height: 30rem;
}

.video {
  margin-top: 4rem;
}

.intro,
.challenge,
.more-info,
.solution {
    grid-column: 1 / span 4;
    padding-left: 1rem;
    padding-right: 1rem;
}

.intro {
  margin-top: 2rem;
}

.name {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  letter-spacing: 8%;

}

.contact {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: 0.85rem;
  letter-spacing: 1px;
  background-color: #000;
}


.header-left a {
text-decoration: none;
color: rgb(255, 255, 255);
font-weight: var(--fw-regular);
padding: 1rem 2rem;
border-radius: 2rem;
}

.header-left a:hover{
  background-color: gray;
}

.challenge {
  grid-column: 1 / span 4
}

.more-info {
  grid-column: 1 / span 4
}

.solution {
  grid-column: 1 / span 4;
}

.intro h2 {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
}

.intro h1 {
  font-size: var(--fs-800);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-medium);
  margin-top: 1rem;
  letter-spacing: -2%;
}

.services-list {
  display: flex;
  margin-right: 0.5rem; 
  margin-top: 1rem;
  position: relative;
}

.services-list li {
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  text-align: center;
  align-self: center;
  color: #000;

  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
  background-color: rgb(210, 235, 243);
  /* border: 1px solid black; */
  border-radius: 16px;
}

.website {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  margin-top: 1rem;
}

.challenge {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.challenge h3 {
  font-size: var(--fs-500);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.challenge p {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 140%;
}

.more-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.more-info h3 {
  font-size: var(--fs-500);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

.more-info p {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 140%;
}

.solution {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.solution h3 {
  font-size: var(--fs-500);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

.solution p {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  line-height: 140%;
}

.img-project .img-Wrapper-pr img {
  object-fit:contain;
  width: 100%;
  min-height: 10rem;
  max-height: 38rem;
  margin-top: 1rem;
}

.two-columns {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.left-col, .right-col {
  width: 100%;
  height: auto;

}

#img-fitted {
  margin-top: 1rem;
}

.pad-top {
  padding-top: 1rem;
}


/* DESKTOP */

@media (min-width: 1024px){


.video .videoWrapper video {
  object-fit: cover;
  width: 100%;
  min-height: 30rem;
  max-height: 38rem;
  margin-top: 100px;
}

/* .intro,
.challenge,
.solution {
    grid-column: 1 / span 4;
    padding-left: 1rem;
    padding-right: 1rem;
} */

.intro {
    grid-column: 1 / span 8;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
}

.intro h1 {
  font-size: var(--fs-800);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-medium);
  margin-top: 1rem;
}

.intro h2 {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
}

.info-grid {
  padding-left: 3.125rem;
  padding-right: 4rem;
  /* border-top: 1px solid black; */
}

.challenge {
  grid-column: 1 / span 5
}

.more-info {
  grid-column: 6 / span 4
}

.solution {
  grid-column: 10 / span 3;
}

.two-columns {
  flex-direction:row;
  justify-content:space-between ;
}

.left-col, .right-col {
  width: 49.5vw;
}

.pad-top {
  padding-top: 0rem;
}
.img-project .img-Wrapper-pr img {
  object-fit:cover;
}


}

