/* Structure */

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #f7f6ef;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

a:visited {
  color: black;
}

a:link {
  color: black;
  text-decoration: underline;
}

/* Paragraph */

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 4rem;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 140%;
}


/* Grid header */

.grid-header {
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5rem;
    height: 100px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #f7f6ef;
    z-index: 2;
}

.grid-header a {
    text-align: center;
}

.logo {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.3px;
  grid-column: 1 / span 3;
  padding-left: 4rem;
  align-self: center;
}


.info {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2%;
  grid-column: 11;
  align-self: center;
}

.linkedin-link {
  align-self: center;
}


.linkedin {
    font-size: 1.25rem;
    font-weight: 500;
    grid-column: 12;
    padding-right: 4rem;
    align-self: center;
}

/* Grid main */

.grid-main {
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-left: 4rem;
    margin-right: 4rem;
    height: 700px;
}

h1 {
    grid-column: 1 / span 8;
    grid-row: 3;
    align-self: center;
}

.arrow {
    grid-row: 5 / span 6;
}
  
/* Section Projects */

.grid-projects {
  line-height:0;
  column-count:2;
  column-gap:0.5rem;

  position: relative;
  width: 100%;
}

.grid-projects img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 0.5rem;
}

/* OVERLAY */

.img-box {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 99%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.5rem; 
}

.img-box:hover .overlay {
  opacity: 1;
}

.text {
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  position: absolute;
  top: 3rem;
  left: 7rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

  
  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

  .name-project {
    display: none;
  }


  /* Footer */

  .footer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 400px;
  }

  .place {
    grid-column: 1;
    margin-left: 4rem;
    margin-bottom: 3rem;
    align-self:flex-end;
  }

  .year {
    grid-column: 2;
    margin-right: 4rem;
    margin-bottom: 3rem;
    align-self:flex-end;
    justify-self: flex-end;
  }

  .contact-footer {
    display: none;
  }

  .p-mobile {
    display: none;
  }

  @media only screen and (max-width: 950px) {

  /* HEADER */

/* Grid header */

.grid-header {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #f7f6ef;
  z-index: 2;
}

.grid-header a {
  text-align: center;
}

.grid-header a:visited {
  color: black;
}

.grid-header a:link {
  color: black;
  text-decoration: underline;
}

.logo {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.3px;
  grid-column: 1 / span 2;
  padding-left: 1rem;
  align-self: center;
}

.info {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2%;
  grid-column: 3;
  align-self: center;
}

.contact a {
  color: black;
}

.linkedin {
  font-size: 1.25rem;
  font-weight: 500;
  grid-column: 4;
  padding-right: 1rem;
  align-self: center;
}

.grid-header .info {
  text-align: center;
  text-decoration: none;
}

  /* CONTENT */
    
  h1 {
    font-size: 2rem;
    grid-column: 1 / span 4;
    align-self: center;
  }

  .grid-main {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
    height: 700px;
  }

  /* PROJECTS */

.text {
  display: none;
}


.img-box:hover .overlay {
  opacity: 0;
}

.grid-projects {
    column-count: 1;
    column-count: 1;
    column-count: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
   }

.p-mobile {
    display: block;
  }

.title {
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.description {
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
}


  /* FOOTER */

  .contact-footer {
    display: block;
    padding-top: 2rem;
    padding-left: 1rem;

  }

  .contact-footer .subheading {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .contact-footer p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 2rem;

  }

  .contact-footer a {
    color: black;
}

  .footer {
    display: block;
    width: 100%;
    height: 300px;
  }

  .place {
    grid-column: 1;
    margin-left: 1rem;
    margin-bottom: 0;
    align-self:flex-end;
  }

  .year {
    grid-column: 1;
    padding-left: 1rem;
    margin-bottom: 3rem;

  }



}
